*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.mani{
    width: 100%;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2014/12/24/05/02/drop-of-water-578897_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;


}

#wave{
 position: absolute;
 bottom: 0px;
}